<div class="jumbotron">
    <div class="overlay">
        <div class="jumbotron-section">
            <h1 class="jumbotron-title">Rumblr</h1>
            <h3 class="jumbotron-subtitle">Let's get ready to rumble!</h3>
        <div>
    </div>
</div>