<div class="main-container img">
  <div class="overlay">
    <div class="single-post-container">
      <div class="post-container">
        <div class="user-info">
          <% if @post.user.profile_pic.attached? %>
              <%= image_tag @post.user.profile_pic, class: "user-pic" %>
          <% end %>
              <p class="user-name"><%= @post.user.name %></p>
        </div>
        <hr>
        <h1><%= @post.title %></h1>
        <h3><%= @post.body %></h3>
      </div>
    </div>
  </div>
</div>